<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOI</title>

</head>
<body>
{% include "header.html" %}
{% load static %}

<div style="padding:100px;">
    <table>
        <thead>
            <th style="font-size:35px;" colspan="2">보령시</th>
        </thead>
        <tr style="font-size:30px;">
            <td style="padding:25px 0px 25px 0px"><img src="{% static '보령.jpg' %}" style="padding-right:50px;">인구 : 98,726명   면적 : 586.56㎢</td>
        </tr>
        <tr style="font-size:30px;" >
            <td colspan="2">충청남도 중남부에 위치한 시. 대천해수욕장·무창포해수욕장 등으로 유명한 해양관광도시이다. 1914년에 남포군, 오천군을 통합했으며, 1986년 1월 1일 보령군 대천읍이 대천시로 승격되어 분리되었다가, 1995년 1월 1일 도농통합으로 보령시로 다시 통합되어 지금까지 이어지고 있다. 북쪽으론 태안군, 홍성군 서쪽으로는 서해에 접하고 동쪽으로는 청양군, 부여군이 있고 남쪽으로는 서천군과 인접하고 있다.</td>
        </tr>
        <tr style="font-size:30px;" >
            <td colspan="2">보령의 대표적인 관광지는 삽시도, 상화원, 개화예술공원, 보령 짚라인, 보령 스카이바이크, 성주산자연휴양림, 대천항, 충청수영성, 성주산, 오천성 등 다양한 관광지가 있다</td>
        </tr>
    </table>

</div>

{% include "footer.html" %}
</body>
</html>