<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOTR</title>

</head>
<body>
{% include "header.html" %}
{% load static %}

<div style="padding:100px;">
    <table>
        <thead>
            <th style="font-size:35px;" colspan="2">천안시</th>
        </thead>
        <tr style="font-size:30px;">
            <td style="padding:25px 0px 25px 0px"><img src="{% static '천안.jpg' %}"width="770"height="370" style="padding-right:50px;">인구 : 657,703명   면적 : 636.08㎢</td>
        </tr>
        <tr style="font-size:30px;" >
            <td colspan="2">충청남도 동북부에 위치한 시. 충청 지방의 4대 도시(대전, 청주, 천안) 중 하나로 충청남도 최대도시이며, 전국에서 18번째로 큰 도시, 전국의 자치시중 10번째로 큰 대도시이다. 비수도권 기초자치단체 중에선 경상남도 창원시(103만), 충청북도 청주시(84만) 다음으로 인구가 많았으나 다시 전주에게 추월당했다. 동쪽으로 충청북도 진천군, 청주시, 서쪽으로 아산시, 남쪽으로 세종특별자치시, 공주시, 북쪽으로 경기도 평택시, 안성시와 접한다.</td>
        </tr>
        <tr style="font-size:30px;" >
            <td colspan="2">천안의 대표적인 관광지는 지중해마을, 화수목수목원, 천안 독립기념관, 천안삼거리공원, 홍대용 과학관, 서해금빛열차, 아라리오갤러리, 각원사 , 유관순열사 사적지, 병천 순대거리 등 다양한 관광지가 있다</td>
        </tr>
    </table>

</div>

{% include "footer.html" %}
</body>
</html>