<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOTR</title>

</head>
<body>
{% include "header.html" %}
{% load static %}

<div style="padding:100px;">
    <table>
        <thead>
            <th style="font-size:35px;" colspan="2"> 경주시 </th>
        </thead>
        <tr style="font-size:30px;">
            <td style="padding:25px 0px 25px 0px"><img src="{% static '경주.jpg' %}"width="770"height="370" style="padding-right:50px;">인구 : 252,438명   면적 : 1,324.86</td>
        </tr>
        <tr style="font-size:30px;" >
            <td colspan="2">평양, 서울 등과 더불어 한반도에서 그 역사가 가장 오래된 도시 가운데 하나이다. 고대 한반도에 존속했던 국가 신라의 수도인 서라벌(금성)로서 약 천 년간 발전하였다. 대표적인 관광지로는 불국사, 석굴암, 국립경주박물관, 월정교, 첨성대, 대릉원, 동궁과 월지, 황리단길, 경주 주상절리, 경주 중앙시장 등이 있다.</td>
    </table>
</div>

{% include "footer.html" %}
</body>
</html>