<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOTR</title>

</head>
<body>
{% include "header.html" %}
{% load static %}

<div style="padding:100px;">
    <table>
        <thead>
            <th style="font-size:35px;" colspan="2">인천광역시</th>
        </thead>
        <tr style="font-size:30px;">
            <td style="padding:25px 0px 25px 0px"><img src="{% static '인천.jpg' %}"width="770"height="370" style="padding-right:50px;">인구 : 2,941,795명   면적 : 1,065.2㎢</td>
        </tr>
        <tr style="font-size:30px;" >
            <td colspan="2">대한민국의 광역자치단체로 한반도 중서부, 남한 최북서단에 위치하며, 서울특별시, 경기도와 함께 수도권을 형성한다. 그리고 위의 명소들을 보면 알겠지만 대한민국을 찾는 외국인 여행객 대부분이 가장 먼저 발을 딛는 대한민국의 관문이기도 하다.</td>
        </tr>
        <tr style="font-size:30px;" >
            <td colspan="2">인천의 대표적인 관광지는 자유공원, 인천대공원, 송도 센트럴파크, 월미도, 차이나타운, 소래포구, 광성보, 동막해수욕장, 무의도, 영흥도 등 다양한 관광지가 있다</td>
        </tr>
    </table>

</div>

{% include "footer.html" %}
</body>
</html>