<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOTR</title>
</head>
<body>
{% load static %}
{% include "header.html" %}
<div style="padding:180px 0px 70px 0px">
    <form align="center">
        <table>
            <tr>
                <a href="Seoul"><img src="{% static '서울1.jpg' %}"width="600"height="350">
                <a href="Incheon"><img src="{% static '인천1.jpg' %}"width="600"height="350">
                <a href="Daegu"><img src="{% static '대구1.jpg' %}"width="600"height="350">
                <a href="Gwangju"><img src="{% static '광주1.jpg' %}"width="600"height="350">
                <a href="Busan"><img src="{% static '부산1.jpg' %}"width="600"height="350">
                <a href="Sokcho"><img src="{% static '속초1.jpg' %}"width="600"height="350">
                <a href="ChunCheon"><img src="{% static '춘천1.jpg' %}"width="600"height="350">
                <a href="Gangneung"><img src="{% static '강릉1.jpg' %}"width="600"height="350">
                <a href="Wonju"><img src="{% static '원주1.jpg' %}"width="600"height="350">
                <a href="Cheonan"><img src="{% static '천안1.jpg' %}"width="600"height="350">
                <a href="Boryeong"><img src="{% static '보령1.jpg' %}"width="600"height="350">
                <a href="Jeonju"><img src="{% static '전주1.jpg' %}"width="600"height="350">
                <a href="Mokpo"><img src="{% static '목포1.jpg' %}"width="600"height="350">
                <a href="Gyeongju"><img src="{% static '경주1.jpg' %}"width="600"height="350">
                <a href="Jeju"><img src="{% static '제주1.jpg' %}"width="600"height="350">
            </tr>
            <br><br><br>
        </table>
    </form>
</div>
{% include "footer.html" %}
</body>
</html>
