<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOI</title>
</head>
<body>
{% load static %}
{% include "header.html" %}

<div align="center" style="padding:100px 50px 20px 0px;">
    <form>
        <table align="center">
            <tr>
                <h2>여행지</h2>
            </tr>

            <tr>
                <td width="300"> <input type="text" class="form-control" placeholder="여행지를 입력   "> </td>
                <td><input type="submit" value="검색" class=btn btn-info></td>
            </tr>
        </table>
    </form>
</div>

<div style="padding:0px 0px 50px 0px;">
    <form align="center">
        <table>
            <tr>
                <a href="Seoul"><img src="{% static '서울.jpg' %}" width="300" height="400" style="padding:10px 10px 10px 10px;">
                <a href="Jeju"><img src="{% static '돌하르방.jpg' %}" width="300" height="400" style="padding:10px 10px 10px 10px;">
                <a href="Busan"><img src="{% static '부산.jpg' %}" width="300" height="400" style="padding:10px 10px 10px 10px;">
                <a href="Jeonju"><img src="{% static '전주.jpg' %}" width="300" height="400" style="padding:10px 10px 10px 10px;">
                <a href="Gyeongju"><img src="{% static '경주.jpg' %}" width="300" height="400" style="padding:10px 10px 10px 10px;">
            </tr>
            <br>
            <tr>
                <a href="search"><img src="{% static '예제사진.png' %}" width="300" height="400" style="padding:10px 10px 10px 10px;">
                <a href="search"><img src="{% static '예제사진.png' %}" width="300" height="400" style="padding:10px 10px 10px 10px;">
                <a href="search"><img src="{% static '예제사진.png' %}" width="300" height="400" style="padding:10px 10px 10px 10px;">
                <a href="search"><img src="{% static '예제사진.png' %}" width="300" height="400" style="padding:10px 10px 10px 10px;">
                <a href="search"><img src="{% static '예제사진.png' %}" width="300" height="400" style="padding:10px 10px 10px 10px;">
            </tr>
            <br>
        </table>
    </form>
</div>
{% include "footer.html" %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>