<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOI</title>

</head>
<body>
{% include "header.html" %}
{% load static %}
<div style="padding-top:150px">
    <table align="right">
      <thead>
        <th style="font-size:30px;padding-bottom:150px">국내 지역 10곳 지원</th>
        <th><img src="{% static '소개페이지사진1.png' %}" width="1404" height="830" style="padding-bottom:150px"></th>
      </thead>

    </table>

    <table>
      <thead>
        <th><img src="{% static '소개페이지사진.jpg' %}"style="padding-bottom:150px"></th>
        <th style="font-size:30px;padding-bottom:150px">장소만 입력하면 바로 여행 최단거리 최단시간의 경로 생성</th>
      </thead>
    </table>
    <table align="center">
      <thead>
        <th style="font-size:30px">이제 더 이상 여행경로 고민하는 걸로 고통받지 마세요 단10분만 투자하신다면 여러분의 최적의 여행 경로를 짜드립니다</th>
      </thead>
    </table>
  <br><br><br><br>
</div>
</body>
</html>