<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOTR</title>

</head>
<body>
{% include "header.html" %}
{% load static %}
<div style="padding-top:150px">
    <table align="right">
      <thead>
        <th style="font-size:30px;padding-bottom:150px">국내 지역 15곳 지원</th>
        <th><img src="{% static '지역.jpg' %}" width="1404" height="830" style="padding-bottom:150px"></th>
      </thead>
    </table>
    <table>
      <thead>
        <th><img src="{% static '소개.jpg' %}" width="1404" height="830" style="padding-bottom:150px"></th>
        <th style="font-size:30px;padding-bottom:150px">각각의 지역마다 지역소개 및 관광지 추천</th>
      </thead>
    </table>
    <table>
      <thead>
        <th><img src="{% static '지도.jpg' %} "width="1404" height="830" style="padding-bottom:150px"></th>
        <th style="font-size:30px;padding-bottom:150px">지도를 통해 본인이 원해는 곳을 더 자세히 </th>
      </thead>
    </table>
    <table align="center">
      <thead>
        <th style="font-size:30px"></th>
      </thead>
    </table>
  <br><br><br><br>
</div>
{% include "footer.html" %}
</body>
</html>