<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOTR</title>

</head>
<body>
{% include "header.html" %}
{% load static %}

<div style="padding:100px;">
    <table>
        <thead>
            <th style="font-size:35px;" colspan="2"> 목포시 </th>
        </thead>
        <tr style="font-size:30px;">
            <td style="padding:25px 0px 25px 0px"><img src="{% static '목포.jpg' %}"width="770"height="370" style="padding-right:50px;">인구 : 220,379명   면적 : 51.62㎢</td>
        </tr>
        <tr style="font-size:30px;" >
            <td colspan="2">전라남도 서남부에 위치한 시. 군산, 여수와 함께 호남 3대 항구의 하나로 개항 이후부터 항구 도시로 발전해왔으며, 호남선 철도의 종착역이자 서해안고속도로의 시점으로 호남권 교통의 시발점 역할 또한 하고 있다. 일제강점기인 1940년대만 해도 부산광역시, 인천광역시, 원산시와 함께 인구 7만으로 조선 4대 항구 중 하나였고, 1950년대 10만을 훌쩍 넘는 인구 증가(11만)로 한때 남한 6대 도시에 속했다.</td>
        </tr>
        <tr style="font-size:30px;" >
            <td colspan="2">목포의 대표적인 관광지로는 갓바위, 춤추는 바다분수, 근대역사관, 자연사박물과, 어린이 바다과학관, 유달산 조각공원, 해상 케이블카, 유달산 낙조대, 연희네슈퍼 등 다양한 관광지가 있다</td>
        </tr>
    </table>

</div>

{% include "footer.html" %}
</body>
</html>