<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOI</title>

</head>
<body>
{% include "header.html" %}
{% load static %}
<!-- 상단 메뉴 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <ul class="nav navbar-nav navbar-left">
                    <a href="index.html"><img src="logo.png" style="width:100px; padding:5px"></a>
                </ul>
            </div>
        </div>


        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li style="font-size:20px"> <a href="#">여행지</a> </li>
                <li style="font-size:20px"> <a href="#">식당</a> </li>
                <li style="font-size:20px"> <a href="#">숙박시설</a> </li>
            </ul>
        </div>
    </div>
</nav>
<div style="padding:150px 50px; ">
  <form>
    <table>
      <tr>
        <td width="300"> <input type="text" class="form-control" placeholder="장소를 입력   "> </td>
        <td><input type="submit" value="검색" class=btn btn-info></td>
      </tr>
    </table>
  </form>
</div>

</body>
</html>