<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOI</title>

</head>
<body>
{% include "header.html" %}
{% load static %}

<div style="padding:100px;">
    <table>
        <thead>
            <th style="font-size:35px;" colspan="2"> 원주시 </th>
        </thead>
        <tr style="font-size:30px;">
            <td style="padding:25px 0px 25px 0px"><img src="{% static '원주.jpg' %}" style="padding-right:50px;">인구 : 356,134명   면적 : 868.28㎢</td>
        </tr>
        <tr style="font-size:30px;" >
            <td colspan="2">강원도 남서부에 위치한 시. 강원도 최대도시이며 춘천시, 강릉시와 함께 강원도 3대 도시이다. 또 강원도 영서지방 서남부, 경기도 동부 일부(양평군 양동면/청운면)지역의 거점도시 역할도 하고 있다.</td>
        </tr>
        <tr style="font-size:30px;" >
            <td colspan="2">원주의 대표적인 관광지로는 국립백운산자연휴양림, 원주레일파크, 간현관광지, 원주한지테마파크, 원주허브팜, 거돈사지 원공국사탑, 반계리은행나무, 법천사지, 치악산자연휴양림, 금대계곡 등 다양한 관광지가 있다</td>
        </tr>
    </table>

</div>

{% include "footer.html" %}
</body>
</html>