<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOI</title>
     <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<style>
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{font-family: 'ONE-Mobile-POP';}
</style>
</head>
<body>
{% include "header.html" %}
{% load static %}

<div class="container" style="padding-top:110px">
    <div align="right">
        <a href="글쓰기"><button class="btn btn-info">글쓰기</button></a>
    </div>
<table class="table table-striped">
    <thead>
    <th>번호</th><th>제목</th><th>작성자</th><th>작성일</th><th>조회수</th>
    </thead>
    <tbody>
        <tr><td>4</td><td><a href="상세페이지">버그 수정</a> </td><td>관리자</td><td>2021-08-21</td><td>3</td></tr>
        <tr><td>3</td><td>버그 수정</td><td>관리자</td><td>2021-08-14</td><td>5</td></tr>
        <tr><td>2</td><td>버그 수정</td><td>관리자</td><td>2021-07-28</td><td>2</td></tr>
        <tr><td>1</td><td>버그 수정</td><td>관리자</td><td>2021-07-09</td><td>10</td></tr>
    </tbody>
</table>
<table style="margin : 0 auto">
    <tr>
        <td>
            <select class="form-control">
                <option>제목</option>
                <option>작성자</option>
                <option>작성일</option>
            </select>
        </td>
        <td> <input type="text" class="form-control" placeholder="검색어 입력"></td>
        <td> <input type="submit" value="검색" class="btn btn-info"></td>
    </tr>
</table>
</div>
</body>
</html>