<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% include "header.html" %}
{% load static %}
<div style="padding-top:110px">
    <a href="수정"><button class="btn btn-info">수정</button></a>
    <form>
        <table class="table table-striped">
            <thead>
                <th>상세 페이지</th>
            </thead>
            <tr>
                <td>제목</td>
                <td>버그 수정</td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>관리자</td>
            </tr>
            <tr>
                <td>작성일</td>
                <td>2021-08-21</td>
            </tr>
            <tr>
                <td>조회수</td>
                <td>3</td>
            </tr>
            <tr>
                <td>내용</td>
                <td>버그 수정</td>
            </tr>

        </table>
    </form>
</div>
</body>
</html>